/* ----------------------------------------------------------------
	Custom CSS

	0. Tipografia
	1. Animações
	2. Helpers
	3. Header
	4. Hero
	5. Como fazemos
	6. Box Banner
	7. Footer
	8. Extra adjusts
-----------------------------------------------------------------*/





/* ==========
0. Tipografia
============*/
@font-face {
	font-family: 'ChunkFive';
	src: url('/fonts/ChunkFive-Regular.woff2') format('woff2'),
			url('/fonts/ChunkFive-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'GeosansLight';
	src: url('/fonts/GeosansLight.woff2') format('woff2'),
			url('/fonts/GeosansLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}





/* ==========
1. Animações
============*/
@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 70px, 0);
		transform: translate3d(0, 70px, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 70px, 0);
		transform: translate3d(0, 70px, 0);
	}
}





/* ==========
2. Helpers
============*/
.outline {
	outline: solid 1px red;
}
#content {
	box-shadow: 0 0 20px #00000030;
}
.text-right {
	text-align: right;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.revert-on-mobile {
		flex-direction: column-reverse;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.mobile-h-75 {
		height: 75vh;
	}
}





/* ==========
3. Header
============*/
.dark #header.full-header, #header.full-header.dark {
	border-bottom: none !important;
}

.dark .transparent-header.full-header .primary-menu .menu-container, .transparent-header.full-header.dark .primary-menu .menu-container {
	border-right: none;
}

.logo-polin,
.logo-zee {
	opacity: 1;
	transition: all 250ms linear;
}

.logo-symbol {
	transition: all 250ms linear;
}

.sticky-header-shrink .logo-polin, 
.sticky-header-shrink .logo-zee
{
	opacity: 0;
	transform: translateY(-40px);
	transition: all 250ms linear;
}

.sticky-header-shrink .logo-symbol {
	transform: translateX(45px);
	transition: all 250ms linear;
}

.primary-menu .menu-item a {
	font-size: .9rem;
	font-weight: 300;
	text-shadow: 1px 1px 1px #ffffff7b;
}

#header #header-wrap {
	border-bottom: none !important;
}

#header #logo {
	border-right: none !important;
}

#header .menu-container {
	border-right: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#logo .logo {
		height: 30px;
		transform: translateX(0px);
	}
	#header {
		z-index: 1;
	} 
}
 
/* Large devices (large tablets, desktops, less than 1200px) */
@media (max-width: 1199.98px) {
	.primary-menu .menu-item a {
		font-size: .7rem;
		font-weight: 300;
		text-shadow: 1px 1px 1px #ffffff7b;
		padding-left: 5px;
		padding-right: 5px;
	}
}





/* ==========
 4. Hero
============ */
.hero-heading-block{
	display: absolute;
	height: 240px;
	background-size: contain;
	z-index: 5;
}
.hero-heading-block-svg {
	position: absolute;
	top: 0;
	left: 0;
}
.hero-heading-block-title {
	font-size: 3rem;
	font-family: 'ChunkFive';
	font-weight: normal;
	transform: translateX(50px);
}
.hero-heading-block-title::first-letter {
	font-size: 10rem;
	vertical-align: sub;
}
.hero-heading-block-symbol {
	position: relative;
	overflow: hidden;
	height: 242px;
	width: 220px;
	z-index: 2;
}
.hero-heading-block-symbol .hero-heading-block-title {
	color: #fff;
}
.hero-heading-block-title.front {
	color: #fff;
}
.hero-heading-block-title.back {
	color: #000;
	z-index: 1;
	position: absolute;
	top: 0;
	z-index: 1;
}
.heading-block-text {
	position: relative;	
	z-index: 2;
	width: 600px;
	font-family: 'GeosansLight';
	font-size: 2.4rem;
	line-height: 2.4rem;
	font-weight: bold;
	transform: translateX(60px);
	margin-top: 40px;
	color: #000;
}
.hero-feature {
	position: absolute;
	width: 650px;
	bottom: 0;
	right: 40px;
	z-index: -1;
	
}
.hero-figure {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}
.hero-image {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: scale(0.8) translateX(-140px);
	transform-origin: bottom right;
	z-index: 1;
}

.slide-number {
	opacity: 1;
	color: #000000;
	bottom: auto;
	top: 140px;
}
.swiper-pagination {
	padding-left: 50px;
	text-align: left;
}
.swiper-pagination span:hover, 
.swiper-pagination span.swiper-pagination-bullet-active {
	background-color: #000000 !important;
}
.swiper-pagination span {
	border: 1px solid #000000
}

/* Hero offsets */
.hero-slide-1 .hero-figure img{
	transform-origin: bottom right;
	transform: scale(1.2) translateX(25px);
}
.hero-slide-1 .hero-image img {
	transform-origin: bottom right;
	transform: scale(0.9) translateX(-120px);
}

.hero-slide-2 .hero-figure img{
	transform-origin: bottom right;
	transform: scale(0.98) translateX(80px) translateY(20px);
}
.hero-slide-2 .hero-image img {
	transform-origin: bottom right;
	transform: scale(0.98) translateX(60px);
}

.hero-slide-3 .hero-figure img{
	transform-origin: bottom right;
	transform: scale(0.85) translateY(-100px);
}
.hero-slide-3 .hero-image img {
	transform-origin: bottom right;
	transform: scale(1.3) translateX(-20px);
}

.hero-slide-4 .hero-figure img{
	transform-origin: bottom right;
	transform: scale(.8) translateY(-150px) ;
}
.hero-slide-4 .hero-image img {
	transform-origin: bottom right;
	transform: scale(.85) translateX(-100px) ;
}

/* Extra small devices < 576px (large phones, portrait small phones) */
@media (max-width: 575.98px) {
	#slider .heading-block-title {
		font-size: 2rem;
		line-height: 2.5rem;
	}
	#slider .heading-block-pretitle {
		font-size: 1rem;
	}
	#slider .heading-block-text {
		font-size: 1rem;
		line-height: 1.4rem;
	}
}
 
/* Small devices < 768px (landscape phones, portrait small tablets) */
@media (max-width: 767.98px) {
	.slider-element {
		height: calc(100vh - 50px);
	}
	.swiper-slide  {
		padding-top: 50px;
	}
	.swiper-slide .align-items-center{
		align-items: flex-start !important;
	}
	.hero-heading-block{
		height: auto;
	}
	.hero-heading-block-symbol {
		display: none;
	}
	.hero-heading-block-title {
		transform: translate(0, 0);
	}
	.hero-heading-block-title::first-letter {
		font-size: 5rem !important;
		line-height: 2rem !important;
	}
	.hero-heading-block-title.back {
		text-align: right;
		transform:translateX(-40px);
		line-height: 3.8rem;
	}	
	.heading-block-text {
		position: absolute;
		top: 140px;
		width: 75%;
		font-size: 1.8rem !important;
		line-height: 2rem !important;
		text-align: right;
	}
	.hero-feature {
		top: 0;
		width: 100%;
		right: 0;
	}
	.hero-figure {
		bottom: initial;
		right: 300px;
		top: 100px;
	}
	.hero-image {
		right: initial;
		left: 0;
	}

	/* Slide 1 */
	.hero-slide-1 .heading-block-text {
		top: 100px;
	}
	.hero-slide-1 .hero-figure img{
		transform-origin: top left;
		transform: scale(3) translate(25px, 100px); 
		top: 0;
	}
	.hero-slide-1 .hero-image img {
		transform-origin: bottom left;
		transform: scale(.85) translate(10px, 0);
	}

	/* Slide 2 */
	.hero-slide-2 .heading-block-text {
		top: 160px;
	}
	.hero-slide-2 .hero-figure {
		top: initial;
		left: initial;
		bottom: 0;
		right: 0;
	}
	.hero-slide-2 .hero-figure img{
		transform-origin: center;
		transform: scale(.8) translate(80px, 50px);
	}
	.hero-slide-2 .hero-image img {
		transform-origin: bottom left;
		transform: scale(.95) translate(-100px, 0);
	}

	/* Slide 3 */
	.hero-slide-3 .hero-heading-block-title,
	.hero-slide-4 .hero-heading-block-title {
		left: 50%;
		transform: translateX(-50%);
	}
	.hero-slide-3 .heading-block-text {
		top: 100px !important;
	}
	.hero-slide-3 .hero-figure img{
		transform-origin: top left;
		transform: scale(2.5) translate(-30px, 90px);
	}
	.hero-slide-3 .hero-image img {
		transform-origin: bottom left;
		transform: scale(1.4) translate(-30%, 0);
	}
	
	/* Slide 4 */
	.hero-slide-4 .heading-block-text {
		top: 160px;
	}
	.hero-slide-4 .hero-figure {
		top: initial !important;
		left: initial !important;
		bottom: 0 !important;
		right: 0 !important;
	}
	.hero-slide-4 .hero-figure img{
		transform-origin: bottom left;
		transform: scale(.7) translate(-150px, 0);
	}
	.hero-slide-4 .hero-image img {
		transform-origin: bottom right;
		transform: scale(.75) translate(-85px, 0) ;
	}

}
 
/* Medium devices < 992px (small tablets, portrait large phones) */
@media (max-width: 991.98px) {
	
}
 
/* Large devices < 1200px (large tablets, desktops, small notebooks) */
@media (max-width: 1199.98px) {
	.heading-block-text {
		font-size: 2.2rem;
		max-width: 42vw;
		transform: translate(0, 20px);
	}
	.hero-heading-block {
		transform: scale(.9) translate(-5%, 40px);
	}

	/* Hero 1 */
	.hero-slide-1 .hero-figure img{
		transform: scale(1) translate(100px, 0); 
	}
	.hero-slide-1 .hero-image img {
		transform: scale(.8) translate(0, 0); 
	}

	/* Hero 2 */
	.hero-slide-2 .hero-figure img{
		transform: scale(.8) translate(0, 0);
	}
	.hero-slide-2 .hero-image img {
		transform: scale(.7) translate(-100px, 0);
	}

	/* Hero 3 */
	.hero-slide-3 .hero-figure img{
		transform: scale(.7) translate(40%, 0);
	}
	.hero-slide-3 .hero-image img {
		transform: scale(1) translate(0, 0);
	}

	/* Hero 4 */
	.hero-slide-4 .hero-heading-block {
		line-height: 1rem;
	}
	.hero-slide-4 .hero-figure img{
		transform: scale(.9) translate(30%, 0);
	}
	.hero-slide-4 .hero-image img {
		transform: scale(.75) translate(0, 0);
	}	
}





/* =============
 5. Como fazemos
================ */
.sobre-item {
	justify-content: center;
	align-items: center;
	margin-bottom: 1.5rem;
}
.sobre-item .lead {
	font-size: 1.5rem !important;
	line-height: 1.5rem !important;
}
.sobre-title {
	margin-bottom: 0.5rem;
	font-family: 'GeosansLight';
	font-size: 2.5rem !important;
	line-height: 2.5rem !important;
	color: #000;
	font-weight: bold;
	letter-spacing: 1px;
}

/* Extra small devices < 576px (large phones, portrait small phones) */
@media (max-width: 575.98px) {
	#como-fazemos .sobre-icons {
		height: 80px;
		margin-bottom: -50px;
	}
	#como-fazemos .sobre-title {
		padding-left: 100px;
	}
	#como-fazemos .lead {
		font-size: 1rem;
		line-height: 1.5rem;
	}	
}
 
/* Large devices < 1200px (large tablets, desktops, small notebooks) */
@media (max-width: 1199.98px) {
	.sobre-item {
		margin-bottom: 3rem;
	}
	.sobre-title {
		font-size: 2rem !important;
		line-height: 2rem !important;
	}
}





/* ===========
 6. Box Banner 
============== */
.block-item {
	position: relative;
	background: #000;
}

.block-item-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	opacity: 0.3;
	background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

.block-item-content {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 40px;
}

.block-item-content {
	display: flex;
	align-items: center;
}

.block-item:nth-child(1) .block-item-bg {
	background-image: url(/images/polinizee/bg-banner-1.jpg);
}
.block-item:nth-child(2) .block-item-bg {
	background-image: url(/images/polinizee/bg-banner-2.jpg);
}
.block-item:nth-child(3) .block-item-bg {
	background-image: url(/images/polinizee/bg-banner-3.jpg);
}

.block-item-content p {
	font-size: 1.7rem !important;
	line-height: 2.5rem !important;
	color: #fff;
	margin: 0;
	padding: 0;
}





/* ==========
 7. Footer
============ */
.logo-footer {
	height: 40px;
	width: auto;
}
.footer-menu li{
	margin-bottom: 10px;
}	
.social-buttons  {
	margin-top: 40px;
	padding-left: 30px;
}	
.social-buttons .social-icon {
	margin-left: 10px;
	margin-right: 10px;
}	





/* ==============
 8. Extra adjusts
================= */
